/* CSS declarations go here */
@import '../imports/unironicalNav.import.styl'

$iOS-red = rgb(255,59,48)

body
  margin 0

*
  font-family -apple-system, -webkit-system-font, 'Helvetica Neue', Helvetica, sans-serif

.indexLinks
  list-style none

.indexLink
  display block
  padding 0.4em
  color #333

@import '../imports/linker/linker.import.styl'
